<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Synchronization page</title>
  </head>
  <body>
    <div class="container">
      <h1>You Have Successfully Sync the Time!</h1>
      <h3>Client time: <%= data.clientTime %></h3>
      <h3>Client time in Milliseconds: <%= data.clientTime.getTime() %></h3>
      <br />
      <h3>Server Time time: <%= data.serverTime %></h3>
      <h3>
        Server Time time in Milliseconds: <%= data.serverTime.getTime() %>
      </h3>
      <br />
      <h3>Calculated time: <%= data.calculatedTime %></h3>
      <h3>
        Calculated time in Milliseconds: <%= data.calculatedTime.getTime() %>
      </h3>
      <br />
      <h3>RTT: <%= data.RTT %> Milliseconds</h3>
      <br />
      <div style="text-align:center;padding:1em 0;">
        <h3>
          <a
            style="text-decoration:none;"
            href="https://www.zeitverschiebung.net/en/city/6173331"
            ><span style="color:gray;">Current local time in</span
            ><br />Vancouver, Canada</a
          >
        </h3>
        <iframe
          src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=America%2FVancouver"
          width="100%"
          height="115"
          frameborder="0"
          seamless
        ></iframe>
      </div>
    </div>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>
